<p-panel header="🏢 Brussels office" styleClass="mt-2">
    <app-office-view [id]="'brussels'"></app-office-view>
</p-panel>

<div class="row">
    <div class="col-6">
        <p-panel header="👮‍♂️ Cop Rudy" styleClass="mt-2">
            <app-cop-view [id]="'rudy'"></app-cop-view>
        </p-panel>
    </div>
    <div class="col-6">
        <p-panel header="👮‍♀️ Cop Mireille" styleClass="mt-2">
            <app-cop-view [id]="'mireille'"></app-cop-view>
        </p-panel>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <p-panel header="📸 Radar rue Neuve" styleClass="mt-2">
            <app-radar-view [id]="'rue-neuve'"></app-radar-view>
        </p-panel>
    </div>
    <div class="col-6">
        <p-panel header="📸 Radar rue de la Loi" styleClass="mt-2">
            <app-radar-view [id]="'rue-de-la-loi'"></app-radar-view>
        </p-panel>
    </div>
</div>