<div class="row">
    <div class="col">
        <div>
            <div class="btn-group">
                <button (click)="startRueNeuve()" class="btn p-button-success" pButton label="Start Rue Neuve"></button>
                <button (click)="stopRueNeuve()" class="btn p-button-danger" pButton label="Stop Rue Neuve"></button>
            </div>
        </div>
        <div>
            <div class="btn-group">
                <button (click)="startRueDeLaLoi()" class="btn p-button-success" pButton label="Start Rue de la Loi"></button>
                <button (click)="stopRueDeLaLoi()" class="btn p-button-danger" pButton label="Stop Rue de la Loi"></button>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <button (click)="clear()" pButton label="Clear"></button>
    </div>
</div>

<div class="terminal mt-2">
    <ul>
        <li *ngFor="let log of logs">{{log}}</li>
    </ul>
</div>